$fontColor: #ffffff;

.nextContainer {
  display: flex;
  align-items: flex-end;
  height: 40px;
  margin-top: 5px;
}

.next {
  color: $fontColor;
  height: 40px;
  width: 90px;
  border: 0px;
  background-color: #388e3c;
  font-size: 20px;
  border-radius: 6px;
  transition: 0.3s;
}
